# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.myenv/
*.myvenv/
.envrc
*.venv

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Logs and local database
*.log
*.sqlite3
*.db

# Unit test / coverage reports
htmlcov/
.coverage
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Django stuff
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/

# Flask stuff
instance/
.webassets-cache

# VS Code settings
.vscode/
*.code-workspace

# PyCharm settings
.idea/
*.iml

# Environment variables
.env
*.env

# Caches
__pycache__/
.cache/
*.mypy_cache/

#txt files
*.txt


