:root {
    --bg-color: #1a1a2e;
    --text-color: #e0e0e0;
    --primary-color: #4a69bd;
    --secondary-color: #6a89cc;
    --accent-color: #82ccdd;
    --border-color: #30336b;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
    background-image: url('bg.jpg'); /* Replace with the actual path to your SVG file */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 30px;  /* Add left padding */
    padding-right: 30px; /* Add right padding */
}

h1, h2, h3 {
    color: var(--accent-color);
}

textarea, .editable {
    width: 100%;
    background-color: #242440;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    resize: vertical;
}

#subjective, #objective, #assessment, #plan {
    padding-right: 0px 
}

button {
    padding: 12px 20px;
    margin-right: 10px;
    cursor: pointer;
    background-image: linear-gradient(145deg, var(--primary-color), var(--secondary-color));
    color: white;
    border: none;
    border-radius: 50px; /* Rounded button */
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2),
                inset 2px 2px 5px rgba(0, 0, 0, 0.3),
                4px 4px 10px rgba(0, 0, 0, 0.4);
}

button:hover {
    transform: scale(1.05); /* Slight zoom effect */
}

button:disabled {
    background-image: linear-gradient(145deg, #555, #666);
    cursor: not-allowed;
}

#conversation, #soapNotes {
    background-color: #242440;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}



#conversation {
    width: 100%;
    height: 300px; /* Expanded height */
    color: white;
    border: none;
    border-radius: 20px; /* Rounded corners */
    padding: 15px;
    font-size: 16px;
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2),
                inset 2px 2px 5px rgba(0, 0, 0, 0.3),
                4px 4px 10px rgba(0, 0, 0, 0.4);
    resize: none; /* Prevent resizing */
    padding-right: 0px
    margin-right: 500px
}


.editable {
    min-height: 100px;
}

#startRecording { background-image: linear-gradient(145deg,rgb(110, 34, 156),rgb(46, 78, 174)); }
#stopRecording { background-image: linear-gradient(145deg,rgb(110, 34, 156),rgb(46, 78, 174)); }
#editConversation { background-image: linear-gradient(145deg,rgb(110, 34, 156),rgb(46, 78, 174)); }
#generateSOAP { background-image: linear-gradient(145deg,rgb(110, 34, 156),rgb(46, 78, 174)); }
#saveSOAP { background-image: linear-gradient(145deg,rgb(110, 34, 156),rgb(46, 78, 174)); }